@{
    var isIndex = (ViewBag.isIndex != null) ? ViewBag.isIndex : false;
}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Bike Shop a Ecommerce Category Flat Bootstarp Responsive Website Template| Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Bike-shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <link href="~/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/css/form.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400' rel='stylesheet' type='text/css'>
    <link href="~/css/nav.css" rel="stylesheet" type="text/css" media="all" />
    @RenderSection("Style", required: false)
    <script src="~/js/jquery.min.js"></script>
    @RenderSection("Scripts", required: false)
    <script type="~/application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script>
        $(function () {
            $("#slider").responsiveSlides({
                auto: false,
                nav: true,
                speed: 500,
                namespace: "callbacks",
                pager: true,
            });
        });
    </script>
</head>
<body>
    @if (isIndex)
    {
     <partial name="_LayoutHeadIndex"/>
    }
    else
    {
        <partial name="_LayoutHead"/>
    }
    @RenderBody();
    <div class="footer">
        <div class="container wrap">
            <div class="logo2">
                <a asp-controller="Home" asp-action="Index"><img src="~/images/logo2.png" alt="" /></a>
            </div>
            <div class="ftr-menu">
                <ul>
                    <li><a asp-controller="Home" asp-action="Bicycles">BICYCLES</a></li>
                    <li><a asp-controller="Home" asp-action="Parts">PARTS</a></li>
                    <li><a asp-controller="Home" asp-action="Accessories">ACCESSORIES</a></li>
                    <li><a asp-controller="Home" asp-action="Error">EXTRAS</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!---->

</body>
</html>
