@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="banner-bg banner-sec">
    <div class="container">
        <div class="header">
            <div class="logo">
                <a asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" alt="" /></a>
            </div>
            <div class="top-nav">
                <label class="mobile_menu" for="mobile_menu">
                    <span>Menu</span>
                </label>
                <input id="mobile_menu" type="checkbox">
                <partial name="_LayoutHeadNav" />
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>