@{
    ViewData["Title"] = "ProductManagement";
}
<h2 style="color: red">@ViewData["Title"]</h2>
<p>@ViewBag.Message</p>
<a asp-area="Admin" asp-controller="Product" asp-action="CreateProduct" style="color: blue ; font-weight: bold">Create Product</a>


